/*------------------------------------------------------------------
[Main Stylesheet]

Template: Helaluddin's Protfolio
Author:	Helal Uddin
Author URI:	https://helalmerchan.github.io/
Version: 1.0
Created: 13 June 2018
Last updated: 15 June 2018
Template: Web developer Personal Protfolio
-------------------------------------------------------------------*/

/*----------------------------------------------------------------- 
[Table of Contents]
1. GENERAL	
2. HEADER
3. SKILLS
4. WORK GALLERY
5. CLIENTS REVIEWS
6. CONTACT
7. FOOTER
8. MEDIA QUERIES
-------------------------------------------------------------------*/

/*===============================================*/
/* 1. GENERAL */
/*===============================================*/
body,html{
	height: 100%;
	width: 100%;
}

body{
	font: 400 16px/2.5rem 'Lato', sans-serif;
	color: #848789;

	letter-spacing: 1px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


}

.section-contents{
	padding: 30px 0;
}


img.full-screen{	
	display: block;
	width: 100%;
	height: auto;
	border: 0;		
	transition: .3s;
}

strong{
	font-weight: 600;
}

.bgdark{
	background: #030f17;
}

section h2{
	font-weight: 700;
	text-transform: uppercase;
	color: #030f17;
	margin-top: 0;
	margin-bottom: 42px;
	letter-spacing: 2px;
}

h4{
	text-transform: uppercase;
	color: #353738;
	font-weight: 700;
	line-height: 2px;
}


img {
	max-width: 100%;
	height: auto;
	border: none;
}


.mhu{
	font-size: 20px;
}


/*===============================================*/
/* 2. HEADER */
/*===============================================*/


.logo{	
	display: inline-block;	
	transition: all .5s ease-in-out;
	width: 200px;
	margin-left: 15px;
	margin-top: 4px;
	vertical-align: middle;
}



.navbar{
    margin-bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(3,15,23, .78), rgba(3,15,23, 0));
    border-bottom: none;
    padding: 10px 0;    
    transition: .3s;
}

.navbar-collapse, 
.navbar-form {
    border-color: transparent; 
}


.navbar-nav>li>a,
.nav > li > a {
    font: 400 13px/24px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #fff;
    opacity: .7;
    padding: 12px 15px;
    text-decoration: none;
    transition: .3s;  
}



.navbar-nav>li>a:hover,
.navbar-nav>.active>a, 
.navbar-nav>.active>a:focus, 
.navbar-nav>.active>a:hover,
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a.current{
    background: transparent;    
	color: #2cb674;
    opacity: 1;
}



.navbar-toggle .icon-bar {
    background: #2cb674;
}
.navbar-toggle {
    border: 1px solid #2cb674;
    padding: 6px;
}

.navbar-toggle:focus,
.navbar-toggle:hover {
    background: transparent;
}


.stuck {
    background: rgba(3,15,23, .78);
}

.stuck .navbar{    
    padding: 8px 0;
}

.stuck .logo{
	vertical-align: middle;
	transform: scale(.85);
	margin-left: 0;
}
.stuck .navbar-nav>li>a,
.stuck .nav > li > a {
    font-size: 12px;
}



/*Hero*/
.banner{
	min-height: 680px;
	position: relative;
	z-index: 100;
}

.vatc{
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 90%;
}
.vatc .container{	
	width: 100%;
	height: 100%;
}

.vam{
	width: inherit;
	height: inherit;
	display: table;
	color: #fff;
}


.vbox{
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
}
.vbox h2{
	font-weight: 400;
	margin-top: 0;
	text-transform: uppercase;
}

.vbox h3{
	font-size: ;
	margin-top: 0;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 20px;
}

.vbox h3 span{
	color: #2bb673;
}


/*Hero button*/
.request-quote{
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	background: #2bb673;
	border-radius: 4px;
	padding: 10px 30px; 
	border: 1px solid transparent;
	transition: .4s;
}

.request-quote:focus,
.request-quote:visited,
.request-quote:hover{
	color: #fff;
	border-color: #2bb673;
	background: rgba(43,182,115,.8);
	text-decoration: none;
}



/*===============================================*/
/* 3. SKILLS */
/*===============================================*/
.icons-set{	
	color: #fff;
	padding: 20px 0;
}
.icons-set ul{
	margin-bottom: 0;
}

.icons-set li{
	padding: 0 8px;
	vertical-align: middle;
	transition: .4s;
}

.icons-set li:hover{
	cursor: pointer;
	opacity: .8;
}

.skills h4{
	margin-top: 20px;
}

.skills li{
	margin: 20px auto;
	min-height: 130px;
}



.skills .mhu,
.skills .fa-wordpress-simple{
	color: #2cb674;
	font-size: 30px;
}



/*===============================================*/
/* 4. WORK GALLERY */
/*===============================================*/
.section-works h2{
	color: #fff;
}
.overlay{
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 2rem;
}

.overlay img{
	display: inline-block;
	margin: auto;
	transition: .3s;
}

.overlay,
.link-overlay{	
	transition: 5s;
}

.link-overlay a{
	color: #fff;
	opacity: .7;
	padding: 8px;
	text-decoration: none;
	text-transform: capitalize;	
	transition: .3s;
	border-bottom: 1px solid transparent;
}


.link-overlay h5{
	text-transform: uppercase;
}

.link-overlay a:hover{
	opacity: 1;
	border-color: #2cb674;
}

.controls{
	margin-bottom: 0px;
	text-align: right;
	margin-bottom: 15px;
}

.controls input[type="text"],
.controls button[type="button"],
.loadmore{
	font: 400 14px/2rem 'Lato', sans-serif;
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	padding: 10px 25px;
	margin-top: 40px;	
	text-decoration: none;
	transition: .3s;

	border-radius: 4px;
}

.controls input[type="text"]:focus,
.controls input[type="text"]:visited,
.controls input[type="text"]:hover,
.controls button[type="button"]:focus,
.controls button[type="button"]:visited,
.controls button[type="button"]:hover,
.loadmore:focus,
.loadmore:visited,
.loadmore:hover{
	background: rgba(255,255,255,.2);
	text-decoration: none;
	color: #fff;
}

.controls input[type="text"]{
	margin-top: 0;
	padding: 10px ;
	margin-bottom: 0;
	text-align: center;
}

.controls label{
	font-size: 10px;
	color: #fff;
}




/*===============================================*/
/* 5. CLIENTS REVIEWS */
/*===============================================*/
.section-clients h2 i{
	color: #2bb673;
}

.section-clients h2 small{
	display: block;
	text-transform: none;
	color: #030f17;
	font-weight: 400;
}


.owl-carousel{
	z-index: 0;
}

.carousel-items{
	padding: 10px;
}
.owl-nav{
	display: none;
}

.carousel-items blockquote{
	font-size: 13px;
	font-weight: 400;
	padding: 15px 20px;
	box-shadow: 0 0 9px rgba(27,105,131, .2);
	border: none;
	font-size: 15px;
	color: #101d25;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;	
	border-radius: 3px;
}

.carousel-items blockquote p{	
	position: relative;
}

.carousel-items blockquote p:before{
	content: '“';
	color: #ccdfec;
	position: absolute;
	font-size: 40px;
	left: -14px;
	top: 5px;
}

.carousel-items blockquote p:after{
	content: '”';
	color: #ccdfec;
	position: absolute;	
	font-size: 40px;
	right: -10px;
	bottom: -18px;
}

.carousel-items blockquote b{
	font-weight: 700;
	display: block;
}

cite{
	font-weight: 300;
}

.owl-theme .owl-dots .owl-dot{
	outline: none;
}
.owl-theme .owl-dots .owl-dot span {
 	background: #ccdfec;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #64c29e;
}



/*===============================================*/
/* 6. CONTACT */
/*===============================================*/


/*===============================================*/
/* 7. FOOTER */
/*===============================================*/
.site-footer .container{
	background: url(images/footer-bg.png) no-repeat center right;
}

.site-footer a{
	color: #9f9f9f;
	text-decoration: none;	
	transition: .3s;
	border-bottom: 1px solid transparent;
}

.site-footer p{
	margin-top: 20px;
}


.site-footer a:hover{
	color: #2bb673;
	text-decoration: none;
	border-color: #2bb673;
}

.copyright{
	padding-bottom: 30px;
	font-size: 13px;
}


.social-links a{
	font-size: 22px;
	display: inline-block;	
	vertical-align: middle;
}

.social-links a:hover{
	color: #2bb673;
	transform: scale(1.1);
	text-decoration: none;
	border-color: transparent;
}


/*Scrollup*/
#scrollUp {
    bottom: 15px;
    display: block;
    height: 30px;
    line-height: 30px;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 30px;
    border: 1px solid rgba(100, 194, 158, .6);

    transition: .3s;
}

#scrollUp:hover {
    background: #64c29e;
}
 
.glyphicon-menu-up{
    font-size: 15px;
    color: rgba(100, 194, 158, .5);
    font-weight: 600;
}

#scrollUp:hover .glyphicon-menu-up{ 
    color: #ffffff;
}


address i{
	display: inline;
	margin-right: 8px;
	text-align: center;
	color: #696969;
	width: 20px;
}
address span{
	display: inline;
	width: auto;
}



/*===============================================*/
/* 8. MEDIA QUERIES*/
/*===============================================*/

@media screen and (min-width: 768px){
	.mhu{
		font-size: 36px;
	}

	.icons-set li{
		padding: 0 30px;
	}

	.section-contents{
		padding: 64px 0;
	}

	.logo{
		margin-left: 0;
	}

	.stuck .logo{
		margin-left: -15px;
	}

	.vbox h2{
		font-size: 40px;
	}

	.request-quote{
		font-size: 20px;
		padding: 12px 25px; 
	}

	.footer-text-right{
		text-align: right;
	}


	.social-links a{
		font-size: 22px;
	}


	.overlay{
		position: relative;		
		overflow: hidden;
	}	


	.link-overlay{
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(3,15,23,.9);
		height: 100%;
		width: 100%;
		padding: 20px;
		color: #fff;
		opacity: 0;
		transition: .3s;
	}

	.overlay:hover .link-overlay{
		opacity: 1;
	}

	.overlay:hover img{
		transform: scale(1.25);
	}
}


@media screen and (min-width: 1280px){
	.section-contents{
		padding: 84px 0;
	}


	.vbox h2{
		font-size: 46px;
	}


	.request-quote{
		font-size: 24px;
		padding: 14px 32px; 
	}

}