

/* ==========================================================================
   General styles
   ========================================================================== */
body{
    font: normal 18px/28px 'Times New Roman', serif;
    color: #000;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
 
h1,
h2,
h3,
h4{
    font-family: 'Times New Roman', serif;
    font-weight:  bold;  
    text-transform: uppercase;
    margin-top: 0; 
}

img{
    max-width: 100%;
    height: auto;
}

a:link,
a:visited{
    text-decoration: none;
}



.section-contents{
    padding: 60px 0;
}



/*************************************************************
 Header
**************************************************************/
a.logo{
    display: inline-block;
    width: 240px;
    margin-left: 15px;
}

.navbar-inverse{
    background: #fff;
    border-bottom: none;
}

.navbar{
    padding-top: 17px;
    padding-bottom: 17px;
}

.navbar-inverse .nav > li > a{
    font-size: 15px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    padding: 10px 15px; 
}


.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #000;
    background-color: transparent;
    text-decoration: underline;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #f7f7f7;
}
.navbar-inverse .navbar-toggle .icon-bar,
.navbar-toggle .icon-bar{
    background: #0d014b;
}
.navbar-inverse .navbar-toggle,
.navbar-toggle{
    border-color: #0d014b;
    padding: 7px;
}

.stuck{background: #fff;}



.book-btn{
    margin-left: 10px;
}
.book-btn a{
    display: inline-block;
    font-size: 15px;
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 15px;
    cursor: pointer;    
    font-weight: 400;
}

.section-book-btn a{
    background: #0d014b;
    color: #fff;
    padding: 12px 18px;
    font-size: 18px;
    margin-top: 10%;
}


.book-btn a:hover{
    color: #fff;
    background: #000;
}
.section-book-btn a:hover{
    background: #0d0340;
}


/*************************************************************
 Hero
**************************************************************/
html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero-img{
    margin-top: 80px;
    background: url(../images/home-bg.jpg) no-repeat center center fixed / cover;
    width: 100%;
    min-height: 650px;
}
.savauno-logo img{
    display: inline-block;
    margin-top: 15%;
}

.fullwidth-imgs{
    margin-bottom: 80px;
}
.fullwidth-img{
    display: block;
    width: 100%;
}



/*************************************************************
 About
**************************************************************/
.section-about{
    background: #e6ecf4;
}

.section-about p{
    margin-top: 25px;
}

.middle-img{    
    min-height: 650px;
    background: url(../images/middle-img.jpg) no-repeat center center fixed / cover;
}






/*************************************************************
 Services
**************************************************************/

.bullet-list li{
    position: relative;
    padding-left: 10px;
}
.bullet-list li:before{
    content: "•";
    font-family: arial;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 2px;
    vertical-align: middle;
}

h3.has-mt{
    margin-top: 30px;
    margin-bottom: 20px;
}




/*************************************************************
 Contact-page
**************************************************************/
.section-contact{
    position: relative;
}

address{
    padding: 30px 15px;
}

.section-contact a{
    display: inline-block;
    color: #000;
    font-size: 80%;
}

.section-contact a:hover{
    text-decoration: underline;
}

/*  CSS for <iframe> responsive Google Map */
.map{
    position: relative;    
    padding-bottom: 66.6666667%; 
    height: 0;
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.address-head{
    font-weight: 300;
    color: #2a5a8d;
    margin-bottom: 5px;
}

#scrollUp {
    bottom: 15px;
    display: block;
    height: 36px;
    line-height: 36px;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 36px;
    border: 1px solid #000;
    color: #000;

}

#scrollUp:hover {   
    background: #000;
    color: #fff;
}




/*************************************************************
 Responsive styles
**************************************************************/


@media screen and (min-width: 480px){
    .section-contact a{
        font-size: 100%;
    }
}


@media screen and (min-width: 768px){
    a.logo{
        width: 340px;
        margin-left: 0;
    }

    .section-contents{
        padding: 90px 0;
    }


    .sub-list{
        width: 50%;
        float: left;
    }

    address{
        position: absolute;
        top: 50%;
        max-width: 590px;
        padding: 35px;
        background: rgba(55,97,133,.8);
        color: #fff;
        transform: translateY(-50%);
        font-size: 28px;
    }

    .section-contact a{
        color: #fff;
    }

    .ph-email{
        margin-bottom: 25px;
        font-size: 24px;
    }

    .map{
        padding-bottom: 43.6666667%; 
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar .container{
        width: 100%;
    }


    a.logo{
        width: 260px;
    }
  
    .map{
        padding-bottom: 56.6666667%; 
    }

}






