@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css');


/* GENERAL STYLES */
.container-narrow{
    max-width: 920px;
    margin: auto;
}

.large-container{
    max-width: 1760px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    color: #8d908c;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}

.section-padding{
    padding: 3rem 0;
}

.dark-green{
    color: #ffffff;
    font-size: .9rem;
    background: #258a35;
    padding: 0.7rem 0;
}
.dark-green p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

i.fa{
    vertical-align: middle;
}

.btn-danger{
    background: #f9593a;
}
.btn-danger:hover{
    background: #d94c30;
}

.btn-danger:not(:disabled):not(.disabled):active, 
.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #f9593a;
    border-color: #de583d;
}

.container-narrow{
    padding: 0 15px;
}

.btn-success{
    background-color:  #4ea951;
}

.list-unstyles{
    list-style: none;
    margin: 0;
    padding: 0;
}

.green-bg{    
    background-color: #4ea951;
    color: #ffffff;
}

.gradient-bg{
    background: linear-gradient(to bottom, #206e3e, #4ea951);
    color: #ffffff;
}

.gradient-bg a,
.green-bg a{
    color: #ffffff;
    text-decoration: none;
}
.grey-bg{
    background-color: #f7f7f7;
}


/* header */
.header-top{
    padding: .3rem 1rem;
    font-size: 0.75rem;
}

.bg-light{
    background-color: transparent !important;
    -moz-box-shadow: 3px 4px 5px rgba(198,198,198,.15); /* drop shadow */
    -webkit-box-shadow: 3px 4px 5px rgba(198,198,198,.15); /* drop shadow */
    box-shadow: 3px 4px 5px rgba(198,198,198,.15); /* drop shadow */
}


.navbar{
    padding: .73rem 1rem;
}

.navbar-brand{
    display: inline-block;
    width: 165px;
}

.nav-item{
    font-size: 1rem;
}

.parallelogram{
    color: #ffffff;
    background: #f9593a;
    text-transform: capitalize;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 44px;
    line-height: 44px;
    margin: auto;

}

.parallelogram:hover{
    color: #ffffff;
    background: #d94c30;
    text-decoration: none;
}

.social-icons a{
    color: #4ea951;
    margin: 0 0.5rem;
}



/* Banner */
.section-hero{
    padding-top: 3rem;
}

.slide-info{
    max-width: 600px;
    margin: 3% auto 4%;
    padding-bottom: .79rem;
}
.button-group{    
    margin-top: 2.6rem;
    margin-bottom: 3rem;
}

.slide-info .btn{
    width: 185px;
    height: 46px;
    padding: 0;
    line-height: 44px;
    text-transform: capitalize;
}
.slide-info .btn:first-child{
    margin-right: 1rem;
}

.section-hero h1{
    font-weight: 700;
    color: black;
    margin: 1.3rem 0;
}

.section-hero h5{
    color: #4ea951;
    text-transform: uppercase;
    font-size: 1rem;
}

.carousel-item{
    padding-left: 5px;
    padding-right: 5px;
}

.carousel-control-next, 
.carousel-control-prev {
    bottom: 50%;
    transform: translateY(-50%);
    top: inherit;
    background-color: rgba(0,0,0,.5);
    width: 28px;
    height: 28px;
    text-align: center;
}


/* ORDER FORM */
/*the container must be positioned relative:*/
.customselect {
    position: relative;
  }
  
  .customselect select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: rgba(57, 152, 60, 0.5);
    border-radius: 5px;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 21px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #0c0101 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #0c0101 transparent;
    top: 12px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
    cursor: pointer;
    user-select: none;
    width: 100%;
    
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: rgba(57, 152, 60, 1);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgb(33, 63, 34); 
  }

.order-form h3{
    font-size: 2rem;
}

.form-control{
    color: #ffffff;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    background: rgba(57, 152, 60, 0.5);
    height: 46px;
}

.form-control:focus{
    outline: none;
    color: #ffffff;    
    background: rgba(57, 152, 60, 0.5);
}

.btnlg{
    width: 200px;
    height: 50px;
    line-height: 48px;
    padding: 0;
}


.btnlg.btn-success{        
    background: #09630b;
    margin-top: 3rem;
    border: 1px solid #e3e3e3;
    text-transform: uppercase;
}
.btnlg.btn-success:hover{        
    background: #0c8d0e;
}

.custom-file{
    position: relative;
    min-height: 185px;
    overflow: hidden;
}

.custom-file textarea{
    position: absolute;
    height: 100%;
    width: 100%;
}

.form-control-file{
    position: absolute;
    right: 0;    
    bottom: 0;
    width: 96px;
}
.form-control::placeholder{
	color: #fff;
	opacity:  1;
}

.form-control:ms-input-placeholder{
	color: #fff;
}
.select-container{
    display: flex;
    justify-content: center;
    position: relative;    
    height: 46px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.select-box{
    border: 1px solid #fff;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: #fff;
    background-color: rgba(78, 169, 81, .1);
    border-radius: 5px;
}

.select-box:focus{
    outline: none;
}


/* TABS */
.nav-pills{
    max-width: 620px;
    margin: 0 auto 5rem auto;
    background-color: #fff;   
    background-image: -moz-linear-gradient(272deg, rgba(93,169,67,.1) 0%, rgba(255,255,255,.1) 100%); 
    background-image: -o-linear-gradient(272deg, rgba(93,169,67,.1) 0%, rgba(255,255,255,.1) 100%); 
    background-image: -webkit-linear-gradient(272deg, rgba(93,169,67,.1) 0%, rgba(255,255,255,.1) 100%); 
    background-image: linear-gradient(178deg, rgba(93,169,67,.1) 0%, rgba(255,255,255,.1) 100%); 
}

.nav-pills .nav-item {
    display: flex;
    flex: 1;
}
.nav-pills .nav-link {
    color: #4ea951;
    text-transform: uppercase;
    width: 100%;    
    border-radius: 0;
    border-bottom: 1px solid #4ea951;
    font-weight: 700;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #09630b;
    border: 1px solid #4da951; /* stroke */
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #fff; /* layer fill content */    
    border-bottom: none;
}

.tab-content h4{
    color: #000;
    font-size: 1.62rem;
    font-weight: 700;
    margin: 3rem 0 1.4rem;
}
.check-features .fa-check{
    color: #4da951;
    margin-right: 1rem;
}

.check-features li{
    margin-bottom: .4rem;
}

.check-btns{
    margin: 2rem 0;
}


.check-btns .btn{
    display: inline-block;
    color: #797979;
    border: 1px solid #626262;
    width: 164px;
    height: 50px;
    line-height: 46px;
    border-radius: 50px;
    margin-right: 1.2rem;
    padding: 0;
}

.check-btns .btn:hover{
    background: #4da951;
    color: #fff;
    border-color: transparent;
}

.check-btns .link{
    color: #4da951;
}


/* Custom templated designed */
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.templates h2{
    color: #000;
    font-weight: 300;
}
.templates h5{
    font-weight: 300;
    margin-bottom: 2rem;
}
.templates h2 strong{
    color: #49a24f;
    font-weight: 900;
}
.work-directly .container-narrow{
    position: relative;
}
img.alpha{
    opacity: 0.6;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
}



/* Reviews */
.reviews h2{
    color: #000;
    margin-bottom: 2.8rem;
}
.reviews span{
    color: #8d908c;
    font-weight: 300;
}
.reviews .fa-heart{
    color: #49a24f;
    font-weight: normal;
}

.review{
    max-width: 700px;
    margin: auto;
}
.review a{
    color: #000;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 10px;
}
.review i{
    color: #faa61a;
}

.googleicon{
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}

img.quote{
    display: inline-block;
    width: 50px;
    margin-bottom: 30px;
}

.has-design{
    position: relative;
    margin-left: 20%;
    max-width: 220px;
    height: 290;
    padding: .8rem;
    box-shadow: 0 0 5px rgba(166,166,166,.46); 
}
.has-design:after{
    content: '';
    width: 8px;
    height: 70%;
    position: absolute;
    right: -8px;
    top: 15%;
    background: #49a24f;
}


/* platform-logos */
.platform-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.platform-logos li{
    padding: .5rem;
    margin-bottom: 2rem;
    box-shadow: 2px 3px 2px rgba(81,81,81,.27); /* drop shadow */
}


/* easier Process */
.easier h2,
.easier h5{
    color: #000;
}
.easier h5{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    text-transform: uppercase;
}

.easier ol{
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.easier li{
    counter-increment: number;
    position: relative;
    height: 100%;
}

.easier li:before{
    width: 28px;
    height: 28px;
    line-height: 28px;
    content: counter(number);
    position: absolute;
    top: 15px;
    left: 15px;
    background: #42994c;
    color: #ffffff;    
    text-align: center;
    -webkit-border-radius:50%;
    border-radius:50%;
}

.easier .box{
    font-size: 1rem;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
    background-color: #fff; /* layer fill content */
    box-shadow: 0 0 5px rgba(66,153,76,.5); /* drop shadow */
    padding: 30px 15px 15px;    
    height: 100%;
}


.easier .box img{
    width: 68px;
    height: auto;
    margin: auto;
}

.text-green {
    color: #033905;
}



/* BLOGS */
.section-blogs h3{
    margin-bottom: 2.5rem;
    color: #000;
}
.card{
    border: none;
    border-radius: 5px 5px !important;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    box-shadow: 1px 1px 3px rgba(0,0,0,.3); /* drop shadow */
    margin-bottom: 1rem;
}

.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: none;
    background-color: transparent;
}

.card-header .btn{
    font-size: 1.05rem;
    font-weight: 700;
}

.has-border{
    border: 1px solid #efefef;
}
.has-border img{
    display: block;
    width: 100%;
}

.excerpt{
    padding: 1rem;
}
.excerpt h4{
    color: #000;
}
.excerpt h4,
.excerpt p{
    margin-bottom: 1rem;
}

.excerpt .btn-Light{
    width: 116px;
    border: 1px solid #dadada;
    position: relative;
    right: 0;
    bottom: initial;
    height: 40px;
}
.excerpt .btn-Light:hover{
    background-color: #dadada;
}

/* FAQ */
.card-header .btn{
    position: relative;
}

.btn-link:hover,
.btn-link:visited,
.btn-link:focus,
.btn-link{
    text-decoration: none;
    color: #797979;
    outline: none;
    border: none;
}
.btn:focus{
    box-shadow: none;
}
.card-header .btn.collapsed:after,
.card-header .btn:not(.collapsed):after{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
}
.card-header .btn.collapsed:after{
    content: "+";   
    font-size: 2rem;
    right: 0;
}
.card-header .btn:not(.collapsed):after{
    content: "–";
    display: inline-block;     
    font-size: 2rem;    
}

.accordion{    
    margin-top: 3rem;
}


/* FOOTER */
.site-footer{
    font-size: .85rem;
}
.site-footer .top{
    padding-top: 6rem;
    padding-bottom: 4rem;

}
.site-footer a{    
    display: block;
    margin-bottom: .1rem;
}
.site-footer a:hover{
    color: #e3e3e3;
}

.site-footer h6{
    text-transform: uppercase;
    margin-bottom: .7rem;
    font-size: .9rem;
}
.social-link{
    display: flex;
    max-width: 140px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
a.footer-logo{
    display: block;
    width: 150px;
    margin-bottom: 1rem;
}
.subscribe{
    position: relative;
    max-width: 200px;
    height: 54px;
}
.subscribe label{
    font-size: .7rem;
    display: block;
    margin-bottom: .3rem;
}
.subscribe input{
    position: absolute;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 5px 30px 5px 5px;
}

.subscribe input:focus{
    border: none;
    outline: none;
}

.subscribe button{   
    background: #cfd2d3;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
    outline: none;
    border: none;
    text-align: center;
}


/*=======================
 EMAIL DESIGN PAGE 
 ======================*/
 /* SLIDER */
 .has-green-icons{
    font-size: .9rem;
 }
 .has-green-icons i{    
    font-size: .8rem;    
    color:#4da951;
 }
 .has-green-icons i:nth-child(2),
 .has-green-icons i:nth-child(3){
    margin-left: 1rem;
 }

.typewriter {
    color: #f9593a;
}

.typewriter span {
    color: #f9593a;
    position: relative;
}

.typewriter span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #f9593a;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

.typewriter span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}





/* PRICING */
.pricing p{
    max-width: 370px;
    margin: auto;
    line-height: 1.4;
}
.pricing h2{
   font-size: 3.5rem;
   font-weight: 700;
}
.pricing .had-mb{
    margin-bottom: 1.5rem;
}

.pricing-table{
    display: grid;
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.package{
    color: #9fa3a7;
    background: #f8f8f8;
    padding: 2rem 1.2rem;
    border-radius: 6px;
}
.package h2{
    font-size: 4.4rem;
    color: #000;
    font-weight: 700;
}
.package h2 span{
    text-transform: uppercase;
    font-size: .8rem;
    display: block;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.package ul{
    font-size: .9rem;
    line-height: 1.7;
    margin: .6rem auto 1rem auto;
}
.package .btn{
    width: 140px;
    height: 42px;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1.5px;
}

.standrad{
    position: relative;    
}



.standrad .badge{
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-transform: uppercase;
    background: #4ea951;
    color: #fff;
    font-size: .5rem;
    letter-spacing: 1px;
    padding: .7% 1.5%;
}

  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 15em
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: orange;
    }
  }

  /* SERVICES UNIQUE */
  .services-unique h2{
    max-width: 700px;
    margin: auto;
    font-size: 2.8rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 4rem;
  }

  .tested{
    padding-top: 3rem;
  }

  .services-unique h4{
    font-weight: 700;
    color: #000;
    font-size: 1.4rem;
  }

  .services-unique p{
    margin: 1.2rem 0;
  }

  .services-unique h6{
    font-size: 1.3rem;
  }
  
/* EMAIL DESIGN PAGE FORM */
 .order-form2 .form-control{
    background: #fff;
    color: #000;
    border-color:#4ea951;
 } 
 .order-form2 label{
    color: #0c0101;
 }

 .order-form2 .select-selected {
    background-color: #fff;
    border: 1px solid #4ea951;
 }
 .order-form2 .custom-file{
    border-bottom: 1px solid #4ea951;
    border-radius: 6px;  
 }
  /*style items (options):*/
  .order-form2 .select-items {
    background-color: rgb(255, 255, 255);
      
  }
  .order-form2 .select-items div:hover, .order-form2 .same-as-selected {
    background-color: rgb(219, 219, 219); 
  }

  .order-form2 .select-items div, .order-form2 .select-selected {
    color: #000;
  }
  .order-form2 .btnlg{
    text-transform: capitalize;
    margin-top: 2.7rem;
  }


 
/* RESPONSIBE STYLING */
@media (max-width: 380px) {
    .slide-info .btn:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .no-margin{
        margin-left: 0;
        margin-right: 0;
    }
    .hide-xs{
        display: none;
    }
    .has-mb{
        margin-bottom: 1.2rem;
    }

    .section-hero h5{
        font-size: .95rem;
        margin-top: 1.2rem;
        text-transform: uppercase;
    }

    .nav-pills .nav-link {
        font-size: small;
    }
}



@media (min-width: 768px) and (max-width: 992px){
    .navbar-expand-md .navbar-nav {
        flex-wrap: wrap;
    }

    .check-btns a{    
        font-size: 1.375rem;
    }
      
   
}

@media (min-width: 768px) {   

    .social-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .has-btn{
        position: relative;
        top: -33px;
        width: 230px;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        height: fit-content;
    }    
    
    .parallelogram{        
        text-transform: capitalize;
        border-radius: 0;
        transform: skew(-20deg);        
        position: absolute;
        top: 0;
        width: 100%;        
        height: 66px;        
        line-height: 66px;
        padding: 0;        
    } 
    
    .easier ol{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .skew-fix{
        display:inline-block;
        transform: skew(20deg);
    }

    .platform-logos li{
        padding: 1rem;
    }

    
    .pricing-table,/* EMAIL DESIGN */
    .platform-logos {
        grid-template-columns: repeat(3, 1fr);
    }

    .heilight{
        position: absolute;
        top: -8%;
        right: -10%;
        bottom: -8%;
        left: -10%;
        width: 120%;
        height: 116%;
        background: #fff;
        border-radius: 6px;
        padding: 3rem 1.2rem;
    }

}

@media (min-width: 992px) {
    .section-hero{
        padding-top: 4rem;
    }
    .section-padding{
        padding: 5rem 0;
    }
   
    .grid-gallery,
    .platform-logos {
        grid-template-columns: repeat(4, 1fr);
    }

    .check-features li{
        font-size: 1.2rem;
    }

    .easier ol{
        grid-template-columns: repeat(4, 1fr);
    }

    .order2{
        order: 2;
    }
    
}

@media (min-width: 1200px) {
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .platform-logos li{
        padding: 2rem;
    }

    .has-btn{
        width: 200px;
        margin-left: 1rem;
        margin-right: 1rem;
    }    
    .had-mb{
        margin-bottom: 3rem;
    }

    .parallelogram{   
        text-wrap: nowrap;
    } 

   
    .btnlg{
        width: 240px;
        height: 54px;
        line-height: 50px;
        font-size: 1.2rem;
    }
    
    .section-hero h1{
        font-weight: 900;
        margin: 1.2rem 0;
        font-size: 3.2rem;
    }

    
}

@media (min-width:1440px){
    .section-hero h1{
        font-size: 3.5rem;
    }

    .section-hero{
        padding-top: 4.8rem;
    }

    .section-hero img{
        width: 90%;
        margin-left: 4%;
    }

    .email-design-hero {
        padding-top: 4.6rem;
    }
    
}