body,input,textarea{background:#fff;font-weight:400;font-family:Khula,sans-serif}h1,h2,h5,h6{color:#333}.nav-toggle:focus,:focus,a,input,textarea{outline:0}*,ol,ul{list-style:none}button,input{border:0}input[type=radio],textarea{height:auto}input[type=checkbox],input[type=radio],td{vertical-align:top}.clear,.clearfix{clear:both}.clearfix,.logo a img,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}.nav-toggle,a,button{cursor:pointer}.fadeInDown,.fadeInLeft,.fadeInRight,.fadeInUp,.s-back-to-top,.wow,.zoomIn{visibility:hidden}*{padding:0;margin:0}html{-webkit-tap-highlight-color:transparent}body,html,html a{-webkit-font-smoothing:antialiased}a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{font-family:Khula,sans-serif;margin:0;padding:0;border:0;outline:0;font-size:100%}caption,td,th{text-align:left;font-weight:400}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}body{font-size:100%;color:#000;line-height:100%;font-style:normal}input,textarea{width:auto;font-size:15px;color:#333;position:relative}input{height:42px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}textarea{border:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-appearance:none;-moz-appearance:none}#header,.header,p{width:100%}img{border:0}.left{float:left}.right{float:right}#header,.header,.logo,.logo a{float:left}.text_right{text-align:right}.text_left{text-align:left}.text_center{text-align:center}.text-justify{text-align:justify}.clearfix{font-size:inherit;height:0;line-height:0}h1,h2{line-height:130%}h3,h5,h6{line-height:120%}h1{font-family:AvenirNextLTPro-Bold;font-size:64px;font-weight:700}h2{font-family:AvenirNextLTPro-Regular;font-size:50px;font-weight:400}h3,h4,h5{font-family:AvenirNextLTPro-Demi}h3{font-size:44px;font-weight:500;color:#0ea6d2}h4,h5{font-weight:400}h4{font-size:34px;color:#394652;line-height:110%}h5{font-size:20px}.nav_main ul li a,h6,p{font-family:Khula,sans-serif}h6{font-size:18px;font-weight:600}p{font-size:16px;font-weight:400;color:#545454;line-height:150%}.nav_main ul li a,form .gform_button{font-weight:700;text-transform:uppercase;text-decoration:none}#header{height:auto;padding:30px 0;position:fixed;z-index:99;transition-duration:.3s;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-property:all;-webkit-transition-property:all;-moz-transition-property:all;transition-timing-function:cubic-bezier(.7,1,.7,1);-webkit-transition-timing-function:cubic-bezier(.7,1,.7,1);-moz-transition-timing-function:cubic-bezier(.7,1,.7,1)}#header.affix{background-color:#fff;box-shadow:0 0 5px 0 rgba(0,0,0,.15);-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.15);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,.15);padding:15px 0}.header_main{float:left;width:100%}.logo{width:354px;height:52px}.logo a{width:100%;height:auto}.logo a img{width:auto;height:auto;transition:all .4s ease-out 0s;-webkit-transition:all .4s ease-out 0s;-moz-transition:all .4s ease-out 0s}.call_top,.header_right{float:right;width:auto}.nav{float:left;width:auto;height:auto;position:relative}.nav_main{float:left;width:auto;transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s}.nav_main ul{float:left;width:100%;height:auto}.nav_main ul.second{display:none}.nav_main ul li{float:left;width:auto;position:relative}.nav_main ul li a{float:left;width:auto;height:auto;font-size:15px;color:#333;line-height:120%;margin:15px 25px 13px;transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s;text-align:center}#header.affix .nav_main ul li a{color:#68615f}#header.affix .nav_main ul li.current-menu-item a,#header.affix .nav_main ul li:hover a,.nav_main ul li.current-menu-item a,.nav_main ul li:hover a{color:#1dc2ed}.blue-btn a,.orange-btn a{color:#fff!important;padding:15px 0 12px;margin:0 10px!important;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;position:relative;transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s;text-align-last:center;width:120px!important}.orange-btn a{background:#fd8a10}.blue-btn a{background:#55cef1;margin-right:0!important}.orange-btn a:hover{background:#ee7e02}.blue-btn a:hover{background:#12b1e0}.res_navigation{display:none;width:72px;height:16px;position:absolute;right:25px;top:25px;transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s}.nav-toggle{position:absolute;top:0;right:22px;z-index:999999;padding:5px 30px 13px 0}.nav-toggle.active .top{-webkit-transform:translateY(8px) translateX(0) rotate(45deg);-ms-transform:translateY(8px) translateX(0) rotate(45deg);transform:translateY(8px) translateX(0) rotate(45deg);background:#fff;width:100%}.nav-toggle.active .middle{opacity:0;background:#fff}.nav-toggle.active .bottom{-webkit-transform:translateY(-8px) translateX(0) rotate(-45deg);-ms-transform:translateY(-8px) translateX(0) rotate(-45deg);transform:translateY(-8px) translateX(0) rotate(-45deg);background:#fff}.nav-toggle span{background:#333;border:0;height:3px;box-shadow:2px 2px 10px #fff,-2px -2px 10px #fff;width:100%;position:absolute;top:-2px;left:0;-webkit-transition:all .55s ease;transition:all .35s ease;cursor:pointer}.nav-toggle span:nth-of-type(2){left:inherit;right:0;top:6px}.nav-toggle span:nth-of-type(3){top:14px}#header.affix .nav-toggle span{background:#333}#header.affix .nav-toggle.active .bottom,#header.affix .nav-toggle.active .top{background:#fff}.res_navigation:hover .nav-toggle span:nth-of-type(2){width:100%}#section{float:left;width:100%;height:auto}.s-back-to-top{background:#fff;bottom:-35px;display:block;width:46px;height:46px;line-height:46px;position:fixed;right:55px;opacity:0;text-align:center;-moz-box-shadow:0 0 12px rgba(0,0,0,.12);-webkit-box-shadow:0 0 12px rgba(0,0,0,.12);box-shadow:0 0 12px rgba(0,0,0,.12);border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;transition-duration:.3s;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-property:all;-webkit-transition-property:all;-moz-transition-property:all;transition-timing-function:cubic-bezier(.7,1,.7,1);-webkit-transition-timing-function:cubic-bezier(.7,1,.7,1);-moz-transition-timing-function:cubic-bezier(.7,1,.7,1);z-index:9}.gform_wrapper label.gfield_label,.gm-style-cc,.gmnoprint{display:none}.s-back-to-top.-is-visible{visibility:visible;opacity:1;bottom:35px}.map{background:#1e1a24;float:left;height:545px;position:relative;width:100%}#map{height:100%}body{opacity:0;-khtml-opacity:0;-webkit-backface-visibility:hidden;visibility:hidden;transition:all .4s ease 0s;-webkit-transition:all .4s ease 0s}body.load{opacity:1;-khtml-opacity:1;-webkit-backface-visibility:visible;visibility:visible}.contact_main{float:left;width:100%}.gform_wrapper{width:100%;margin:0!important}.gform_wrapper form{float:left;width:100%;height:auto}.ginput_container textarea,form .ginput_container input{float:left;width:100%!important;height:46px;font-family:Khula,sans-serif!important;font-size:17px!important;line-height:100%;color:#666!important;background-color:rgba(255,255,255,.6)!important;border:1px solid #ddd!important;margin:0 4% 0 0!important;padding:0 15px!important;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;position:relative;transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s}.form-control::-webkit-input-placeholder,.ginput_container textarea::-webkit-input-placeholder,form .ginput_container input::-webkit-input-placeholder{color:#666;padding-top:3px;line-height:120%}.form-control::-moz-placeholder,.ginput_container textarea::-moz-placeholder,form .ginput_container input::-moz-placeholder{color:#666;padding-top:3px}.form-control:-ms-input-placeholder,.ginput_container textarea:-ms-input-placeholder,form .ginput_container input:-ms-input-placeholder{color:#666;padding-top:3px;line-height:120%}.form-control:-moz-placeholder,.ginput_container textarea:-moz-placeholder,form .ginput_container input:-moz-placeholder{color:#666;padding-top:3px;line-height:120%}.form-control:focus,form .ginput_container input:focus,form .ginput_container textarea:focus{border:1px solid #fd8a10!important;-moz-box-shadow:0 0 10px 2px rgba(124,185,40,.25);-webkit-box-shadow:0 0 10px 2px rgba(124,185,40,.25);box-shadow:0 0 10px 2px rgba(124,185,40,.25)}form .ginput_container textarea{height:141px!important;padding:10px 15px!important;width:100%!important}form .gform_footer{float:right}form .gform_button{background:#fd8a10;width:100%;height:auto;min-height:inherit!important;line-height:inherit!important;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:Khula,sans-serif;font-size:15px;color:#fff;position:relative;padding:16px 35px 12px;text-shadow:none;-webkit-text-shadow:none;-moz-text-shadow:none;z-index:1;margin:20px 0 0!important;border:0;overflow:hidden;-moz-box-shadow:0 0 8px rgba(0,0,0,.15)!important;-webkit-box-shadow:0 0 8px rgba(0,0,0,.15)!important;box-shadow:0 0 8px rgba(0,0,0,.15)!important;transition:all .35s ease 0s;-webkit-transition:all .35s ease 0s;-moz-transition:all .35s ease 0s}form .gform_button.active,form .gform_button:active,form .gform_button:focus,form .gform_button:hover{color:#fff;background:#ee7e02}.gform_wrapper .validation_message,form .validation_error{font-size:13px!important;font-family:Khula,sans-serif!important}.gform_wrapper form .gform_footer{float:none;width:auto!important;height:auto;padding:0!important}form .validation_error{width:100%!important;background-color:#ebdada;border:1px solid #dbbcc1!important;margin:0!important;padding:15px!important;font-weight:600!important;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;position:relative}.gform_wrapper form li.gfield.gfield_error,.gform_wrapper form li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{background:0 0!important;border:0!important}.gform_wrapper form ul.gform_fields li.gfield{float:left;padding:0!important;clear:inherit!important}.gform_wrapper .validation_message{font-weight:400!important;color:#ce1010!important;padding:5px 0 0 3px!important}.gform_confirmation_wrapper{width:100%!important;background-color:#dff0d8;border:1px solid #c6d9b6!important;margin-bottom:0!important;padding:15px!important;font-family:Khula,sans-serif!important;font-size:14px!important;font-weight:600!important;color:#3c763d!important;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;position:relative;text-align:center}#inner h5,.approved-classes a,.btn-default,.list-advantages>li{font-family:Khula,sans-serif}.contact_bg .gform_confirmation_wrapper{margin-top:20px!important;width:100%!important}form div.ginput_container_name span{padding-right:0}.gform_wrapper .top_label div.ginput_complex.ginput_container.gf_name_has_1,.gform_wrapper .top_label div.ginput_complex.ginput_container.gf_name_has_2,.gform_wrapper .top_label div.ginput_complex.ginput_container.gf_name_has_3{width:100%!important}body .gform_wrapper .top_label div.ginput_container{float:left;width:100%;margin-top:10px!important}form #field_1_2,form #field_1_4,form #field_1_5{margin:0!important}form #field_1_5{width:100%!important;max-width:100%!important}.name_first label{display:none!important}.ginput_container_select select.form-control{padding-right:20px;background:url(../images/arrow-down.svg) calc(95%) center no-repeat}.ginput_container_select select.form-control option{padding:5px 15px;box-shadow:none}.gform_wrapper form ul.gform_fields li.gfield{width:100%!important;margin:0!important}.main-banner{background-position:center center!important;background-size:cover!important;position:relative;z-index:1;height:100vh;min-height:855px;flex-shrink:0;overflow:hidden!important;background-repeat:no-repeat}.banner,.banner_con{height:auto;float:left}.banner{width:100%;padding-top:30%}.banner_con{width:665px;text-align:left;position:absolute;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);text-shadow:1px 1px 20px #fff}.banner_con .contact_main{float:left;margin:5% 0 0;text-align:center;width:340px}.banner_con .gform_wrapper{width:100%!important}.bottom-wave{background:url(../images/wave-pattern.svg) center center no-repeat transparent;background-size:cover;bottom:-140px;float:left;height:23%;overflow:hidden;position:absolute;width:100%}.approved-classes,.class-cover,.classes-online,.hours{position:relative}.cosmetology-approved{padding:60px 0 0;text-align:center}.classes-online{padding:60px 0;text-align:center;max-width:1400px;margin:0 auto}.approved-classes{-moz-box-shadow:0 0 12px 2px rgba(0,0,0,.12);-webkit-box-shadow:0 0 12px 2px rgba(0,0,0,.12);box-shadow:0 0 12px 2px rgba(0,0,0,.12);padding-bottom:25px;z-index:1;background:#fff;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;overflow:hidden;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s}.approved-classes img{transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s}.footer-nav ul li a,a{transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s}.approved-classes:hover{-moz-box-shadow:0 0 12px 3px rgba(0,0,0,.2);-webkit-box-shadow:0 0 12px 3px rgba(0,0,0,.2);box-shadow:0 0 12px 3px rgba(0,0,0,.2)}.approved-classes:hover img{-moz-transform:scale(1.05);-webkit-transform:scale(1.05);transform:scale(1.05);border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0}.class-cover{float:left;height:250px;text-align:center;width:100%;overflow:hidden}.class-cover a.top_img{margin:0;display:block}.approved-classes a,.col2,.col2 li,.footer .col3 a,.hours{display:inline-block}.class-cover .img-responsive{width:100%;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0}.mar-top{margin-top:35px}.hours{background:#fff;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;color:#fd8a10;float:none;font-size:44px;height:80px;line-height:80px;margin:-35px auto 0;padding:0;width:80px;font-weight:700}p{padding:25px 0 0}a{text-decoration:none}.approved-classes h5,.approved-classes p{padding-left:13px;padding-right:13px}.approved-classes p{height:120px;overflow:hidden}.approved-classes a{margin-top:20px;color:#0fa7d2;font-size:16px;font-weight:600}.approved-classes a:active,.approved-classes a:hover{text-decoration:none;color:#fd8a10}.left-half-circle{height:450px;left:-290px;position:absolute;width:450px;background:#fff;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%}.left-half-circle img{background:#fff;opacity:.5}.list-advantages{float:left;margin:30px 0 0;text-align:left;width:100%}.col2,.footer-nav,.labortis-block{text-align:center}.list-advantages>li{color:#333;font-size:16px;font-weight:400;line-height:150%;margin:15px 0 0;padding-left:40px;background:url(../images/ic-tick.svg) left 0 no-repeat}.left-circle,.right-circle{background:0 0;position:absolute;z-index:-1}.left-circle{border:90px solid rgba(28,192,239,.2);border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;height:720px;left:-340px;top:-370px;width:720px}.right-circle{border:90px solid rgba(53,225,208,.2);border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;height:760px;right:-470px;top:-260px;width:760px}.footer{background:#202e35;padding:35px 0}.footer-nav{margin:0 auto}.footer .col3 a{width:auto;float:none}.footer-nav ul li a{color:#999;font-size:16px;margin:0 30px}.footer-nav ul li a:hover{color:#1dc2ed;text-decoration:none}.copyright,.privacy-terms{margin:20px 0 0;color:#999;font-size:16px;display:inline-block}.copyright,.privacy-terms a{font-size:14px}.privacy-terms li{border-right:1px solid #999}.privacy-terms li:last-child{border:0}.col1 .img-responsive{margin:18px 0 0}#inner .main-banner{height:405px;min-height:inherit}#inner .banner_con{top:60%;transform:translate(0,-60%);-webkit-transform:translate(0,-60%);-moz-transform:translate(0,-60%)}#inner h1{font-size:50px}.section{float:left;width:100%}.myraw{padding:60px 0}.about-block{padding:70px 0}#inner h5{font-weight:600;line-height:140%}.btn-default,h4 span{font-weight:700}.btn-default{padding:13px 35px 10px;border:1px solid #fd8a10;color:#fd8a10;background:0 0;line-height:120%;font-size:15px;margin:20px 0 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;float:left;clear:both;text-shadow:none;box-shadow:none;transition:all .25s ease 0s;-webkit-transition:all .25s ease 0s;-moz-transition:all .25s ease 0s}.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover{color:#fff;background:#fd8a10;border:1px solid #fd8a10;text-shadow:none;box-shadow:none;text-decoration:none}.about-block h3{margin:10px 0 0}.labortis-block{float:none;margin:0 auto;max-width:1400px;position:relative;z-index:1}.bg-gray{background:#f7f7f7}.labortis-block .left-circle{border:70px solid rgba(28,192,239,.2);border-radius:100%;height:600px;left:-250px;top:-200px;width:600px;z-index:9}.labortis-block .left-side{padding-right:80px;position:relative;z-index:9}.labortis-block .right-side{text-align:left}.labortis-block .right-side h5{margin:30px 0 0}.class-hours{border-bottom:1px solid #eee;float:left;padding:30px 0;width:100%}.class-hours:first-child{padding-top:0}.class-hours:last-child{padding-bottom:0;border:0}.icons{float:left;width:10%}.icons img{margin:0 auto}.classes-con{float:left;width:90%}.orange{color:#fd8a10}.contact-usselect{min-height:46px}

#overall-srats{
	padding: 0;
	margin: 10px 0 20px;
}
.overall-srats-text input[type="text"]{
	padding: 0 !important;
	height: 15px;
	border: none;
	margin: 0;
	font-weight: bold;
}

.star{
  color: #f7be2f;
  font-size: 22px;
  /* space out the stars */
}
.star::before{
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605';
  color: #daa520; 
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605';
}


/* The hear-about-course */
.tf-12 li{
	margin-top: 5px;
}
.hear-about-course-opt li{
	margin-top: 13px;
}

p.no-mt{
	margin-top: 0;
	padding-top: 0;
}
.tf-12,
.hear-about-course-opt{
	margin-bottom: 15px;
}


.hear-about-course {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;   
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    vertical-align: middle;
}

/* Hide the browser's default radio button */
.hear-about-course input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 23px;
    width: 23px;
    background: rgba(51,122,183,.2);
    border-radius: 50%;

    -webkit-transition: all 0.2s ease;
    transition: all 0.4s ease;

}

/* On mouse-over, add a grey background color */
.hear-about-course:hover input ~ .checkmark {
  background: rgba(51,122,183,.3);
}

/* When the radio button is checked, add a blue background */
.hear-about-course input:checked ~ .checkmark {
    background-color: #337ab7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the indicator (dot/circle) when checked */
.hear-about-course input:checked ~ .checkmark:after {
    display: block;     
}

/* Style the indicator (dot/circle) */
.hear-about-course .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: rgba(255,255,255,.5);
}


/*TRUE FALSE RADIO*/
.tf-12 li{
	position: relative;
	display: inline-block;
	width: 66px;
	height: 36px;
	line-height: 36px;
}


.visuallyhidden {
  opacity: 0;
  visibility: hidden;
}
.customradio + label {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #337ab7;
	box-shadow: inset 0 0 0 1px rgb(51,122,183);
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	/*border-radius: 2px;*/
}
.customradio + label:before {
    content: "";
    width: 100%;
    height: 100%;
    
    background: transparent;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;

    /*border-radius: 2px;*/
}
.customradio:checked + label{
    color: #fff;    
    background: #337ab7;
}

.customradio:checked + label:focus {
  outline: 3px solid black;
  outline: 3px auto -webkit-focus-ring-color;
}




.panel-body textarea{width: 75%;}
@media screen and (max-width: 640px){
	.panel-body textarea,
	.panel-body input{
		width: 100%;
	}
	.panel-body {
		padding: 15px 5px;
		margin-left: 0;
	}

	.column,
	.tf-panel {
		padding-left: 0;
		padding-right: 0;
	}	
}